

/* ----------- 1:= Button -------- */
.button{
    background-color: black;
    color: white;
    padding: 1rem;
    width: 90%;
    margin-left: 5%;
    border: 2px solid black;
    border-radius: .5rem;
    font-size: 1.3rem;
    margin-top: 2rem;
    font-weight: bold;
}

.button:hover{
    background-color: white;
    color: black;
}



/* ----------- 2:= inputLabel -------- */
.inputLabel{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 2rem;
    color: white;
}

.inputLabel input{
    padding: 1rem;
    border: 1px solid white;
    border-radius: .5rem;
    margin-top: .5rem;
    background-color: #F1F1F1;
}
