.restos .button{
    width: max-content;
    margin: 0;
    font-size: 1rem;
    align-items: center;
}

.restos .recherche{
    width: 20rem;
    height: 3.4rem;
    border-radius: .5rem;
    margin-left: 1rem;
    padding-left: .5rem;
}

.restos section.container{
    background-color: white;
    border: 1px solid var(--gris2);
    border-radius: .5rem;
    padding: 3rem 0;
    margin-top: 5rem;
}

.restos article.head{
    padding: 0 5rem;
    align-items: center;
    justify-content: flex-end;
}

.restos article.head h4{
    margin-right: auto;
    font-size: 1.5rem;
}

.restos article.head .svg{
    position: absolute;
    right: 11%;
}

.restos div.tableau{
    margin-top: 8rem;
}

.restos div.tableau table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    padding: 0 5rem;
}

.restos div.tableau thead{
    border-top: 1px solid #BDDEB4;
    border-bottom: 1px solid #BDDEB4;
}

.restos div.tableau thead th{
    padding: 1rem 0;
    font-weight: 500;
}

.restos div.tableau tbody th{
    padding: 2rem 2rem 2rem 0;
    width: max-content;
    border-bottom: 1px solid var(--gris);
    font-weight: lighter;
}

.restos div.tableau th.left{
    padding-left: 5rem;
    font-weight: 500;
}