/* 
                Sommaire

        
    


*/


/* ----------- 1:= Constantes -------- */
:root{
    --noir : #212121;
    --vert : #68756b;
    --bleu : #526774;
    --gris : #bfbdb1;
    --beige: #fae8da;
    --gris : #EFEFEF;
}



/* ----------- 2:= Global css ----------- */
a{
    text-decoration: none;
    color: var(--noir);
}

*{
    margin: 0;
    padding: 0;
}




/* ----------- 3:= Global classes ----------- */
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.column{
    display: flex;
    flex-direction: column;
}

.w-100{
    width: 100%;
}

.h-100{
    min-height: 100vh;
}

.w-max-c{
    width: max-content;
}

.m-auto{
    margin: auto;
}

.backVert{
    background-color: var(--vert);
}

.backBleu{
    background-color: var(--bleu);
}

.backBeige{
    background-color: var(--beige);
}

.backGris{
    background-color: var(--gris);
}

.textBold{
    font-weight: bold;
}

.jc_spacebetween{
    justify-content: space-between;
}

.jc_spacearround{
    justify-content: space-around;
}

.main{
    min-height: 100vh;
    width: 80vw;
    padding: 3rem 5rem;
}